@model TCOMSapps.Features.OOSTitles.Interactions.InteractionViewModel
@{
  Layout = null;
}
<!DOCTYPE html>
<html>
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=windows-1252">
  <title>Customer Notification Letter</title>
  <link href="~/css/pdf.css" rel="stylesheet" />
</head>
<body lang="EN-US">
  <header>
    <div class="pdf-topleft">
      <img src="~/images/nctcseal.jpg" />
    </div>
    <div class="pdf-topright">
      <div class="pdf-official-name">
        <div>
          @Model.County.OosTitleLetterTaxCollectorName
        </div>
        <div>
          Tax Collector
        </div>
      </div>
      <address>
        <br />
        @Model.County.OosTitleLetterAddressLine1<br />
        @if (Model.County.OosTitleLetterAddressLine1 == null)
        {
          @Model.County.OosTitleLetterAddressLine2<br />
        }
        @Model.County.OosTitleLetterCity, @Model.County.OosTitleLetterState @Model.County.OosTitleLetterZip<br />
        @Model.County.OosTitleLetterWebsite
      </address>
    </div>
    <hr />
  </header>

  <section>
    <div>
      @DateTime.Now.ToLongDateString()
    </div>
    <br />
    <div>
      <b>
        @Model.Title.CustFName @Model.Title.CustLName
        @if (@Model.Title.CustFName2 != null)
        {
          <span>, @Model.Title.CustFName2 @Model.Title.CustLName2</span>
        }
        @if (@Model.Title.CustFName3 != null)
        {
          <span>, @Model.Title.CustFName3 @Model.Title.CustLName3</span>
        }
      </b>
      <address>
        @Model.Title.CustAddr1 <br />
        @if (Model.Title.CustAddr2 != null)
        {
          @Model.Title.CustAddr1
          <br />
        }
        @Model.Title.CustCity , @Model.Title.CustState @Model.Title.CustZip
      </address>
    </div>
    <br /><br />
    <div class="pdf-letter-subject">
      Re: Title for @Model.Title.VehYr @Model.Title.VehMake @Model.Title.VehModel VIN# @Model.Title.Vin
    </div>

    <p>
      We have received the title work for the above referenced vehicle from the lien holder. In order to complete the
      registration process, you will need to bring in the following:
    </p>

    <ul class="pdf-important-items">
      <li>EACH APPLICANT who will be named on the title must be present with a valid driver license</li>
      <li>Proof of Florida insurance</li>
      <li>Bill of Sale (If the vehicle has been owned less than 6 months)</li>
      <li>The vehicle must be present in order to verify the VIN (Vehicle Identification Number)</li>
    </ul>

    <p>
      We require the title work to be completed within 30 days of the date that we received it (@Model.Title.RecDt.ToShortDateString()). The title work is currently held at our @Model.Location.Name Branch. If you would like to have the title work delivered to one of our branch offices, which may be more convenient for you, please call @Model.County.OosTitleLetterMsPhoneNumber, Monday through Friday 8:00 am ‐ 5:00 pm.
    </p>
    <p>
      For your convenience, we accept payment via cash, local checks, Visa, Master Card, American Express, or
      Discover Card (2.5% convenience fee, paid to the credit card processing company, will be applied for all
      credit cards. The Tax Collector's Office does not keep any portion of this fee.)
    </p>
    <br /><br /><br />
    <p>
      Thank you for the opportunity to serve you!
    </p>
    Motor Services Department
    <br />
    <i>
      <small>Representing @Model.County.OosTitleLetterTaxCollectorName, Tax Collector ‐ @Model.County.Name County</small>
    </i>
    <p>
    </p>
  </section>

  <footer>
    <hr />
    <div>
      <address>
        <span class="pdf-address-name">Tax Collector's Office</span><br />
        @Model.County.OosTitleLetterAddressLine1<br />
        @if (Model.County.OosTitleLetterAddressLine1 == null)
        {
          @Model.County.OosTitleLetterAddressLine2<br />
        }
        @Model.County.OosTitleLetterCity, @Model.County.OosTitleLetterState @Model.County.OosTitleLetterZip<br />
      </address>
    </div>
    <div>
      <address>
        @Model.County.OosTitleLetterPhoneNumbers<br />
        @Model.County.OosTitleLetterWebsite<br />
        @Model.County.OosTitleEmailAddress
      </address>
    </div>
  </footer>

</body>

</html>