@model TCOMSapps.Features.OOSTitles.entities.Title
@{
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=windows-1252">
    <title>Customer Notification Letter</title>
    <link href="~/css/pdf.css" rel="stylesheet" />
</head>
<body lang="EN-US">
    <header>
        <div class="pdf-topleft">
            <img src="~/images/nctcseal.jpg" />
        </div>
        <div class="pdf-topright">
            <div class="pdf-official-name">
                <div>
                    John M. Drew
                </div>
                <div>
                    Tax Collector
                </div>
            </div>
            <address>
                <br />
                86130 License Road<br />
                Fernandina Beach, FL 32034<br />
                www.nassautaxes.com
            </address>
        </div>
        <hr />
    </header>

    <section>
        <div>
            @DateTime.Now.ToLongDateString()
        </div>
        <br />
        <div>
            <b>@Model.CustFName @Model.CustLName 
                @if (@Model.CustFName2 != null)
                {
                    <span>, @Model.CustFName2 @Model.CustLName2</span>
                } 
                @if (@Model.CustFName3 != null)
                {
                    <span>, @Model.CustFName3 @Model.CustLName3</span>
                }
            </b>
            <address>
                @Model.CustAddr1 <br />
                @if (Model.CustAddr2 != null)
                {@Model.CustAddr1 <br />}
                @Model.CustCity , @Model.CustState @Model.CustZip
            </address>
        </div>
        <br /><br />
        <div class="pdf-letter-subject">
            Re: Title for @Model.VehYr @Model.VehMake @Model.VehModel VIN# @Model.Vin
        </div>

        <p>
            We have received the title work for the above referenced vehicle from the lien holder.  In order to complete the
            registration process, you will need to bring in the following:
        </p>

        <ul class="pdf-important-items">
            <li>EACH APPLICANT who will be named on the title must be present with a valid driver license</li>
            <li>Proof of Florida insurance</li>
            <li>Bill of Sale (If the vehicle has been owned less than 6 months)</li>
            <li>The vehicle must be present in order to verify the VIN (Vehicle Identification Number)</li>
        </ul>

        <p>
            We require the title work to be completed within 30 days of the date that we received it (@Model.RecDt.ToShortDateString()). The title work is currently held at our Main Office located at 86130 License Rd. Fernandina Beach, FL 32034. If you would like to have the title work delivered to one of our branch offices, which may be more convenient for you, please call (904) 491‐7400 and choose option 2, Monday through Friday 8:00 am ‐ 5:00 pm.
        </p>
        <p>
            For your convenience, we accept payment via cash, local checks, Visa, Master Card, American Express, or
            Discover Card (2.5% convenience fee, paid to the credit card processing company, will be applied for all
            credit cards. The Tax Collector's Office does not keep any portion of this fee.)
        </p>
        <br /><br /><br />
        <p>
            Thank you for the opportunity to serve you!
        </p>
        Motor Services Department
        <br />
        <i><small>Representing John M. Drew, Tax Collector ‐ Nassau County</small></i>
        <p>

        </p>

    </section>

    <footer>
        <hr />
        <div>
            <address>
                <span class="pdf-address-name">Tax Collector's Office</span><br />
                86130 License Raod<br />
                Fernandina Beach, FL 32034
            </address>
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            <address>
                <span class="pdf-address-name">Historic Courthouse</span><br />
                416 Centre Street<br />
                Fernandina Beach, FL 32034
            </address>
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            <address>
                <span class="pdf-address-name">Callahan Office</span><br />
                450077 SR 200, Suite 13<br />
                Callahan FL, 32011
            </address>
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            <address>
                <span class="pdf-address-name">Hilliard Office</span><br />
                15885 CR 108<br />
                Hilliard, FL 32046
            </address>
        </div>
        <div>&nbsp</div>
        <div>
            <address>
                (904) 491-7400 / (866) 815-4690    Fax (904) 432-0220<br />
                www.nassautaxes.com
            </address>
        </div>
    </footer>
</body>

</html>

