@model TCOMSapps.Features.OOSTitles.Interactions.InteractionViewModel
@{
  Layout = null;
}
<!DOCTYPE html>
<html>
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=windows-1252">
  <title>Title Return Letter</title>
  <link href="~/css/pdf.css" rel="stylesheet" />
</head>
<body lang="EN-US">
  <header>
    <div class="pdf-topleft">
      <img src="~/images/nctcseal.jpg" />
    </div>
    <div class="pdf-topright">
      <div class="pdf-official-name">
        <div>
          @Model.County.OosTitleLetterTaxCollectorName
        </div>
        <div>
          Tax Collector
        </div>
      </div>
      <address>
        <br />
        @Model.County.OosTitleLetterAddressLine1<br />
        @if (Model.County.OosTitleLetterAddressLine1 == null)
        {
          @Model.County.OosTitleLetterAddressLine2<br />
        }
        @Model.County.OosTitleLetterCity, @Model.County.OosTitleLetterState @Model.County.OosTitleLetterZip<br />
        @Model.County.OosTitleLetterWebsite
      </address>
    </div>
    <hr />
  </header>

  <section>
    <div>
      @DateTime.Now.ToLongDateString()
    </div>
    <br />
    <div>
      <b>@Model.Interaction.LhDlrName</b>
      <address>
        @Model.Interaction.LhDlrAddr1 <br />
        @if (Model.Interaction.CustAddr2 != null)
        {@Model.Interaction.LhDlrAddr1 <br />}
        @Model.Interaction.LhDlrCity , @Model.Interaction.LhDlrState @Model.Interaction.LhDlrZip
      </address>
    </div>
    <br /><br />
    <div class="pdf-letter-subject">
      Re: Title for @Model.Interaction.VehYr @Model.Interaction.VehMake @Model.Interaction.VehModel VIN# @Model.Interaction.Vin
    </div>

    <p>
      We are returning the enclosed title work and associated paperwork that we received from your office due to
      the length of time we have held it without any response from the customer.
    </p>

    <p>
      Please call @Model.County.OosTitleLetterMsPhoneNumber, between 8:00 am ‐ 5:00 pm Monday ‐ Friday, if you have any questions.
    </p>

    <br /><br /><br />

    <p>
      Thank you for the opportunity to serve you!
    </p>
    Motor Services Department
    <br />
    <i><small>Representing @Model.County.OosTitleLetterTaxCollectorName, Tax Collector ‐ @Model.County.Name County</small></i>
    <p>

    </p>

  </section>

  <footer>
    <hr />
    <div>
      <address>
        <span class="pdf-address-name">Tax Collector's Office</span><br />
        @Model.County.OosTitleLetterAddressLine1<br />
        @if (Model.County.OosTitleLetterAddressLine1 == null)
        {
          @Model.County.OosTitleLetterAddressLine2<br />
        }
        @Model.County.OosTitleLetterCity, @Model.County.OosTitleLetterState @Model.County.OosTitleLetterZip<br />
      </address>
    </div>
    <div>
      <address>
        @Model.County.OosTitleLetterPhoneNumbers<br />
        @Model.County.OosTitleLetterWebsite<br />
        @Model.County.OosTitleEmailAddress
      </address>
    </div>
  </footer>
</body>

</html>

