@using TCOMSapps.Features.OOSTitles.entities
@model Title
@{
    Layout = null;
    string to = "";
}
<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=windows-1252">
    <title>Warning Letter</title>
    <link href="~/css/pdf.css" rel="stylesheet" />
</head>
<body lang="EN-US">
    <header>
        <div class="pdf-topleft">
            <img src="~/images/nctcseal.jpg" />
        </div>
        <div class="pdf-topright">
            <div class="pdf-official-name">
                <div>
                    John M. Drew
                </div>
                <div>
                    Tax Collector
                </div>
            </div>
            <address>
                <br />
                86130 License Road<br />
                Fernandina Beach, FL 32034<br />
                www.nassautaxes.com
            </address>
        </div>
        <hr />
    </header>

    <section>
        <div>
            @DateTime.Now.ToLongDateString()
        </div>
        <br />
        <div>
            <b>
                @Model.CustFName @Model.CustLName
                @if (@Model.CustFName2 != null)
    {
            <span>, @Model.CustFName2 @Model.CustLName2</span>
}
                @if (@Model.CustFName3 != null)
    {
            <span>, @Model.CustFName3 @Model.CustLName3</span>
}
            </b>
            <address>
                @Model.CustAddr1 <br />
                @if (Model.CustAddr2 != null)
                {@Model.CustAddr1 <br />}
                @Model.CustCity , @Model.CustState @Model.CustZip
            </address>
        </div>
        <br /><br />
        <div class="pdf-letter-subject">
            Re: Title for @Model.VehYr @Model.VehMake @Model.VehModel VIN# @Model.Vin
        </div>

        <h2 style="width: 100%; text-align: center;">
            WARNING OF TITLE WORK TO BE RETURNED TO
            @{
                to = Model.TitleRecievedFromType == Title.TitleReceivedFromTypes.Dealer ? "DEALER" : "LIENHOLDER";
            }
            @to
        </h2>

        <p>
            The title work for the above referenced vehicle was received by our office more than 30 days ago. If we have
            not been contacted regarding this title work within 10 business days from the date of this letter, we will
            return the title to the @to.
        </p>

        <p>
            Please call (904) 491‐7400 and choose option 4, between 8:00 am ‐ 5:00 pm Monday ‐ Friday.
        </p>

        <br /><br /><br />

        <p>
            Thank you for the opportunity to serve you!
        </p>
        Motor Services Department
        <br />
        <i><small>Representing John M. Drew, Tax Collector ‐ Nassau County</small></i>
        <p>

        </p>

    </section>

    <footer>
        <hr />
        <div>
            <address>
                <span class="pdf-address-name">Tax Collector's Office</span><br />
                86130 License Raod<br />
                Fernandina Beach, FL 32034
            </address>
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            <address>
                <span class="pdf-address-name">Historic Courthouse</span><br />
                416 Centre Street<br />
                Fernandina Beach, FL 32034
            </address>
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            <address>
                <span class="pdf-address-name">Callahan Office</span><br />
                450077 SR 200, Suite 13<br />
                Callahan FL, 32011
            </address>
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            <address>
                <span class="pdf-address-name">Hilliard Office</span><br />
                15885 CR 108<br />
                Hilliard, FL 32046
            </address>
        </div>
        <div>&nbsp</div>
        <div>
            <address>
                (904) 491-7400 / (866) 815-4690    Fax (904) 432-0220<br />
                www.nassautaxes.com
            </address>
        </div>
    </footer>
</body>

</html>

